[Unit]
Description=Twitter Bot
After=network.target

[Service]
User=root
WorkingDirectory=/root/twitter
ExecStart=/usr/bin/python3 main.py
Restart=always

[Install]
WantedBy=multi-user.target
